*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f2f2f2;
    text-align: center;
}
.button{
    background-color: aqua;
    border: none;
    height: 100px;
    width: 100px;
    box-shadow: inset;
    border-radius: 20px;
    font-size: 50px;
    font-weight: bolder;
}
#result{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 60px;
    width: 500px;
    background-color:silver;
    text-align: center;
    align-items: center;
    margin-left: 34%;
    border-radius: 20px;
    flex-wrap: wrap;
}
#main{
    text-align: center;
    align-items: center;
}
#button1{
    font-size: 40px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    background-color: red;
    color: white;
}