*{
    padding: 0px; 
    margin: 0px;
}
header{
    background-color: gray;
}
#header{
    height: 50px;
}
footer{
    height:30px;
    background-color: black;
    color:aliceblue;
    text-align: center;
    
}
main{
    height: 650px;
}
.div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#box1{
    background-color:rgba(255,0,0,0.5);
}
#box2{
    background-color: rgba(0,255,0,0.5);
}
#box3{
    background-color: rgba(0,0,255,0.5);
}