#box{
    color: white;
    background-color: blue;
}
.heading{
    color: red;
    text-align: center;
}
#h1{
    text-decoration: black overline;
    font-weight: normal;
}
#h2{
    text-decoration:wavy underline;
    font-weight: lighter;
}
#h3{
    text-decoration: line-through;
    font-weight: 100;
}
/* button{
    background-color: green;
} */
#p1{
    text-align: right;
    text-align: left;
    text-align:center;
}
a{
    text-decoration: none;
}
#p2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-transform: capitalize;
}
#p1{
    font-family: 'Segoe UI';
    font-size: 10px;
    line-height: 20px;
    text-transform: uppercase;
}