div{
    height: 100px;
    width: 100px;
    background-color: cyan;
    border: 2px solid black;
    display: inline-block;
    position: fixed;
    
}
#box3{
    top: 50px;
    left: 40px;
    background-color: yellow;

}
#box4{
    top: 60px;
    left: 30px;
    background-color: red;
}

#box2{
    top: 70px;
    left: 20px;
    background-color: black;
}

#box1{
    top: 80px;
    left: 10px;

}
#box1:hover{
    z-index: 1;

}
#box2:hover{
    z-index: 1;

}
#box3:hover{
    z-index: 1;

}
#box4:hover{
    z-index: 1;
    
}
#box4{
    background-image: url("cat.jpeg");
    background-size: cover;

}
body{
    background-image: url("cat.jpeg");
    background-size: auto;
    background-repeat: no-repeat;

}


